body{
    margin: 0;
}
div{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
}
p{
    display: inline-block;
    margin: 120px 0;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.desert{
    background-image: url(images/desert1.jpg);
}
.desert p{
    animation: desert 1.5s linear infinite ;
}
@keyframes desert{
    0%,100% {
        transform: translate(0);
    }
    
    50% {
        transform: translateY(-80%);
    }
}
.forest{
    background-image: url(images/forest.jpeg);
}
.forest p{
    animation: forest 2s linear infinite ;
}
@keyframes forest{
    0%,100% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
}
.canyon{
    background-image: url(images/canyon.webp);
}
.canyon p{
    animation: canyon 1s linear infinite ;
}
@keyframes canyon{
    0% {
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.glasier{
    background-image: url(images/glasier.jpg);
}
.glasier p{
    animation: glasier 1.5s linear infinite alternate-reverse ;
}
@keyframes glasier{
    0% {
        transform: scale(0%);
    }
    
    100%{
        transform: scale(1.1);
    }
}